= render partial: "layouts/main-header"

%main.mypage-container
  .mypage-content
    / ログアウト
    %section.mypage-content__logout
      %form.mypage-content__logout-form
        .mypage-content__logout-form__content
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-default btn-red"
  = render partial: "shared/side_bar"

= render partial: "layouts/main-footer"
