.search-contents {
  width: 1020px;
  margin: 40px auto 0;
  &__side-bar{
    float: left;
    width: 280px;
    margin: 0 20px 0 0;
    &__form{
      &_sort{
        background-color: #fff;
        padding: 16px;
        & h4{
          font-size: 16px;
          font-weight: 600;
          margin: 0 0 16px;
        }
      }
      &_box{
        background-color: #fff;
        margin-top: 40px;
        padding: 16px;
        &_btns {
          height: 90px;
          padding: 40px 0 0;
          &_clear-btn {
            float: left;
            width: 45%;
            line-height: 48px;
            font-size: 14px;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            text-align: center;
          }
          &_finish-btn {
            float: right;
            width: 45%;
            line-height: 48px;
            font-size: 14px;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            cursor: pointer;
            padding: 0;
            &:hover{
              opacity: 0.7;
            }
          }
        }
        &_keyword{
          margin: 24px 0 0;
          & i {
            color: #888;
            font-size: 16px;
            line-height: 1;
          }
        }
        & h4{
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
  &__container {
  width: 720px;
  float: right;
    &_top{
      &_result {
        font-size: 22px;
        line-height: 1.4;
        margin-left: 20px;
        font-weight: 400;
        margin-bottom: 8px;
      }
      &_message {
        margin: 16px 0 0 20px;
        font-size: 14px;
        line-height: 1.5;
      }
      &_title {
        font-size: 22px;
        font-weight: 600;
        margin: 24px 0 8px 20px;
      }
    }
    &_main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__item {
        width: 160px;
        margin: 0 0 20px 20px;
        &__link {
          &_figure {
            overflow: hidden;
            position: relative;
            height: 160px;
            width: 160px;
            &_img {
              width: 100%;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
            }
          }
        }
        &_text {
          width: 100%;
          height: 110px;
          padding: 16px;
          background-color: #fff;
          position: relative;
          &_name {
            & h3{
              word-break: break-word;
              vertical-align: text-top;
              overflow: hidden;
              font-size: 16px;
              line-height: 1.2;
              color: $black;
              &::after{
                display: block;
                content: '';
                position: absolute;
                top: 32px;
                right: 0;
                width: 50%;
                height: 1.5em;
                background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
              }
            }
          }
          &_box {
            width: 130px;
            position: absolute;
            top: 70px;
            display: flex;
            justify-content: space-between;
            &_price {
              font-size: 20px;
              color: #333;
              font-weight: 600;
              left: 0;
              bottom: 0;
            }
            &_good {
              &_btn {
                color: #ccc;
              }
              &_count {
                color: #333;
                font-weight: 400;
              }
            }
            &_tax {
              font-size: 10px;
              color: #333;
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.clearfix:after{
	content: "";
	clear: both;
}

.form_group {
  margin: 40px 0 0;
  i {
    color: #888;
    font-size: 16px;
    line-height: 1;
  }
  &_title{
    font-size: 14px;
    font-weight: 600;
  }
  &_span{
    display: inline-block;
    width: 6%;
    font-size: 14px;
    text-align: center;
  }
  &_select{
    width: 100%;
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    margin: 8px 0 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none;  /* ベンダープレフィックス(Firefox用) */
    appearance: none; /* 標準のスタイルを無効にする */
    &_icon{
        position: absolute;
        top: 40px;
        left: 370px;
        color: #aaa;
        font-size: 20px;
        cursor: pointer;
      }
    }
  &_box{
    margin: 8px 0 0;
    border: 1px solid #ccc;
    height: 48px;
    line-height: 1.5;
    padding: 0 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    &_price{
      border: 1px solid #ccc;
      height: 48px;
      line-height: 1.5;
      padding: 10px 16px 8px;
      margin: 8px 0 0;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
      width: 45%;
    }
  }
}

.check-box{
  &__box{
    display: inline-block;
    height: 20px;
    width: 48%;
    word-break: break-word;
    position: relative;
    margin: 16px 0 0 0;
    & input{
      position: absolute;
      top: 30%;
      left: 0;
      z-index: 1;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      background: #fff;
      border: 1px solid #ccc;
      font-size: 10px;
      line-height: 17px;
      text-align: center;
      color: #fff;
      vertical-align: middle;
    }
    & label{
      position: absolute;
      top: 40%;
      margin: 0 0 0 28px;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.for-icon {
  &_categories {
    &_parent {
      position: relative;
    }
    &_child {
      position: relative;
    }
    &_grandchild {
      position: relative;
    }
  }
  &_price {
    position: relative;
  }
  &_bland{
    position: relative;
  }
}

.select_icon{
  position: absolute;
  top: 25px;
  left: 220px;
}

.sort_link {
  display: block;
  width: 100%;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  margin: 8px 0 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  cursor: pointer;
  text-align: left;
  & p{
    display: inline-block;
    color: black;
    font-size: 16px;
    line-height: 48px;
  }
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 40px 0 0;
  &_link {
    display: inline-block;
    height: 42px;
    width: 42px;
    vertical-align: middle;
    line-height: 42px;
    border-radius: 4px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 20px;
    &_next {
      margin-left: 160px;
    }
    &_prev {
      margin-right: 160px;
    }
  }
  &_page {
    display: inline-block;
    height: 42px;
    width: 42px;
    vertical-align: middle;
    line-height: 42px;
    border-radius: 4px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  &_current {
    display: inline-block;
    height: 42px;
    width: 42px;
    vertical-align: middle;
    line-height: 42px;
    border-radius: 4px;
    color: #fff;
    background: #ea352d;
    border: 1px solid #ccc;
    font-size: 14px;
  }
}
