// font
$black: #333;
$white: #fff;
$gray: #f5f5f5;
$red: #ea352d;

// border
$border-gray: 1px solid #f5f5f5;

// link
$link-color: #0099e8;

// single-page-layout
$single-width: 700px;
$margin-auto: 0 auto;

