@import "mixin/single-container";

$border-color: #eee;
$link-color: #0099e8;

.payment {
  height: 100%;
  &__container {
    @include single-container;
    padding: 0 64px 52px;
    &__title {
      height: 50px;
      width: 100%;
      border-bottom: 1px solid $border-color;
      h2 {
        line-height: 50px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-align: center;
      }
    }
    &__box {
      width: 320px;
      margin: 64px auto 0;
      p {
        font-weight: bold;
        font-size: 16px;
      }
      .actions {
        margin-top: 20px;
      }
    }
    &__about{
      border-top: 1px solid $border-color;
      height: 70px;
      text-align: right;
      margin: 36px 0 0;
      padding-top: 40px;
      & a {
      text-decoration: none;
      color: $link-color;
      font-size: 14px;
      }
      &__icon {
        margin-left: 4px;
        font-weight: 600;
      }
    }
  }
}
