// *= require bxslider

@import "./reset";
@import "./variables";
@import "./items";
@import "./confirm_buy";
@import "./trade_complete";
@import "./items_new";
@import "./user";
@import "./addresses";
@import "modules/signup";
@import "modules/signin";
@import "modules/devise_footer";
@import "modules/devise_common";
@import "./item_detail";
@import "./add-card";
@import "./card-info";
@import "./category";
@import "modules/input-common";
@import "modules/search";
@import "font-awesome-sprockets";
@import "font-awesome";
* {
  box-sizing: border-box;
}
