@import "mixin/single-container";

hr {
  border: 1px solid rgba(234, 53, 44, 0.3);
  margin: 8px 0;
}
.form-require {
  margin-left: 8px;
}
#result {
  padding: 8px 0;
}

.card {
  &-help {
    font-size: 14px;
  }
  &-question {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #0199E8;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
  }
  &__container {
    @include single-container;
    & h4 {
      padding: 8px 24px;
      line-height: 1.4;
      font-size: 24px;
      font-weight: 600;
      color: #333;
      text-align: center;
      border-bottom: 1px solid #eee;
    }
    &__field {
      max-width: 320px;
      padding: 64px 0;
      margin: 0 auto;
      .field {
        &__icon{
          margin: 10px 0;
          &__size{
            width: 32px;
            height: 20px;
            margin: 0 2px ;
          }
        }
        &__validity {
          margin-top: 38px;
          select {
            width: 40%;
            height: 45px;
            margin-top: 8px;
            padding-left: 16px;
            font-size: 15px;
            border: 1px solid #ddd;
            background-color: #fff;
          }
        }
        &__security{
          margin-top: 38px;
          &__question{
            margin-top: 8px;
            text-align: right;
            a{
              text-decoration: none;
              color:#0099e8;
              font-size: 12px;
            }
          }
        }
        .unit {
          font-size: 14px;
          padding-left: 8px;
        }
      }
    }
  }
}


