/*共通部分*/
table, tbody, tr, th, td {
  border: $border-gray;
}
.link {
  text-decoration: none;
  color: $link-color;
}
.like-icon {
  font-size: 16px;
  color: #ccc;
}
.good-icon {
  font-size: 16px;
  color: #EF5185;
}
.normal-icon {
  font-size: 16px;
  color: #FBA832;
}
.bad-icon {
  font-size: 16px;
  color: #6BB5D7;
}
.textarea-default {
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    background: $white;
    font-size: 16px;
    line-height: 1.5;
}
.btn {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  text-align: center;
}
.btn-gray {
  background-color: #aaa;
  color: $white;
}
.btn-red {
  background: $red;
  border: 1px solid $red;
  color: $white;
}
.display-image {
  width: 300px;
  height: 300px;
}
.small-image {
  width: 60px;
  height: 60px;
}
.item-image {
  width: 220px;
  height: 220px;
}
.sold-out {
  cursor: not-allowed;
}

/*共通部分以外*/
.items-wrapper {
  padding: 40px 0 0 0;
  background-color: $gray;
  width: 100%;
  height: 100%;
}

.item-detail-container {
  background-color: $white;
  width: $single-width;
  padding: 24px 40px 40px;
  margin: $margin-auto;
}

.item-name{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}

.item-content {
  width: 100%;
  height: 100%;
  margin: 16px 0 0 0;
  &__photo {
    position: relative;
    float: left;
    max-width: 300px;
    background-color: $gray;
    line-height: 0;
    &__sold-out-badge {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      z-index: 1;
      border-top: 60px solid #ea352d;
      border-right: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 60px solid #ea352d;
      &__text {
        position: absolute;
        top: -20px;
        right: -20px;
        font-size: 28px;
        font-weight: 600;
        color: $white;
        letter-spacing: 2px;
        transform: rotate(-45deg);
        z-index: 2;
      }
    }
  }
  &--active, &__small-active {
    opacity: 1.0;
  }
  &__small {
    opacity: 0.7;
    width: 60px;
    height: 60px;
  }
  &__detail-table {
    float: right;
    height: 420px;
    max-width: 300px;
    margin-left: 20px;
    &__tbody {
      table-layout: fixed;
      font-size: 0.9rem;
      &__th {
        background-color: $gray;
        width: 40%;
        text-align: left;
        font-size: 0.9rem;
        padding: 8px;
        vertical-align: middle;
      }
      &__td {
        width: 60%;
        padding: 8px;
        vertical-align: middle;
        white-space: wrap;
        overflow: hidden;
        &__category {
          display: block;
        }
        &__rating {
          display: flex;
        }
        &__icon {
          margin: 8px 15px 0 0;
          &__num {
            font-size: 0.8rem;
            vertical-align: middle;
          }
        }
      }
    }
  }
  &__price {
    clear: both;
    padding: 24px 0 0;
    &__box {
      text-align: center;
      &__bold {
        font-size: 2.5rem;
        font-weight: 600;
      }
      &__tax {
        font-size: 0.6rem;
      }
      &__shipping-charge {
        font-size: 1rem;
      }
    }
  }
  &__buy-btn {
    display: block;
    width: 100%;
    text-align: center;
    margin: 16px 0 0;
    height: 60px;
    line-height: 60px;
    font-size: 1.4rem;
    font-weight: 600;
  }
  &__description {
    margin: 24px 0 0;
    padding: 32px 0 0;
  }
  &__item-btn {
    width: 100%;
    margin: 16px 0 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    &__left {
    color: #333;
      &__like-btn {
        display: inline-block;
        padding: 8px 16px;
        background-color: $gray;
        border: $border-gray;
        border-radius: 40px;
        &__num {
          margin-left: 5px;
        }
      }
      &__report {
        display: inline-block;
        padding: 8px 16px;
        background-color: $gray;
        border: $border-gray;
        border-radius: 40px;
        color: $black;
        &__icon {
          color: $black;
        }
        &__text {
          margin-left: 5px;
          text-decoration: none;
          color: $black;
        }
      }
    }
    &__right {
      margin: 8px 0 0;
    }
  }
}

.item__comments {
  width: $single-width;
  margin: 8px auto;
  background-color: white;
  .item__comment {
    overflow: hidden;
    padding: 20px 30px;
    &__left {
      float: left;
      width: 7%;
      &-icon img {
        border-radius: 50%;
      }
      &-seller {
        background-color: #eee;
        font-size: 12px;
        padding: 4px;
        margin-top: 5px;
        border-radius: 2px;
      }
    }
    &__right {
      float: right;
      width: 91%;
      position: relative;
      &-name {
        font-size: 14px;
        margin-bottom: 6px;
      }
      &-balloon {
        color: #eee;
        font-size: 50px;
        transform: rotate(160deg) rotateY(180deg);
        float: left;
        position: absolute;
        top: 18px;
        right: 533px;
      }
      &-comment {
        background-color: #eee;
        padding: 15px;
        border-radius: 14px;
        letter-spacing: 1px;
        overflow: hidden;
        position: relative;
        z-index: 2;
        p {
          padding-bottom: 10px;
        }
        .comment-clock {
          color: #aaa;
          float: left;
        }
        .comment-flag {
          float: right;
          color: #aaa;
        }
      }
    }
  }
  .item__comment:first-of-type {
    padding-top: 30px;
  }
  .item__comment:last-of-type {
    padding-bottom: 30px;
  }
}

.item-comment-container {
  width: $single-width;
  margin: $margin-auto;
  &__content {
    margin-top: 10px;
    padding: 24px;
    background-color: $white;
    &__form {
      width: 100%;
      &__text {
        padding: 8px;
        background-color: #FFF6DD;
        font-size: 0.9rem;
      }
      &__textarea {
        width: 100%;
        border: 1px solid #ccc;
        padding: 8px;
        margin-top: 8px;
      }
      &__submit {
        width: 100%;
        font-size: 0.9rem;
        margin-top: 5px;
      }
    }
  }
}

.item-page-link {
  width: $single-width;
  margin: $margin-auto;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-size: 0.9rem;
}

.item-sns {
  width: $single-width;
  margin: 24px auto 0;
  padding: 72px 0 24px;
  background-color: $white;
  &__list {
    display: flex;
    justify-content: center;
    &__icon {
      font-size: 44px;
      margin-right: 10px;
    }
    &__icon--facebook {
      color: #385185;
    }
    &__icon--twitter {
      color: #5E9DC9;
    }
    &__icon--pinterest {
      color: #AA2629;
    }
  }
}

.item-other {
  width: $single-width;
  margin: $margin-auto;
  padding-bottom: 40px;
  &__user-items {
    padding-top: 24px;
    &__head {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 24px 0 8px;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      max-width: 700px;
      &__box {
        background-color: $white;
        margin: 0 0 20px 20px;
        &:nth-child(3n+1) {
          margin-left: 0px;
        }
        &__body {
          padding: 16px;
          height: 110px;
          max-width: 220px;
          color: #000;
          &__name {
            font-size: 1rem;
            line-height: 1.5;
            height: 3rem;
            overflow: hidden;
            white-space: normal;
          }
        }
        &__num {
          margin: 8px 0 0;
          &__price {
            float: left;
            font-weight: 600;
          }
          &__likes {
            float: right;
            &__num {
              font-size: 0.9rem;
              margin-left: 3px;
            }
          }
          &__tax {
            font-size: 0.6rem;
            clear: both;
          }
        }
      }
    }
  }
}
