.contents{
	width: 700px;
	background-color: #fff;
	margin: 0 auto;
	& span{
		margin: 0 0 0 8px;
	    padding: 2px 4px;
	    border-radius: 2px;
	    color: #fff;
	    font-size: 12px;
	    vertical-align: top;
	    background-color: #ea352d;
	}
	& h3{
		display: inline-block;
		font-size: 14px;
	}
	& h4{
		display: inline-block;
		font-weight: 600;
		font-size: 14px;
	}
	& a{
		color: #0099e8;
		&:hover{
			text-decoration: underline;
			opacity: 0.7;
		}
	}
	& p {
		line-height: 1.5;
		font-size: 10px;
	}

	& select{
		width: 100%;
		height: 48px;
	    padding: 0 16px;
	    margin-top: 8px;
	    border-radius: 4px;
	    border: 1px solid #ccc;
	    background: 0;
	    font-size: 16px;
	    line-height: 1.5;
	    cursor: pointer;
	    outline: none;
		-webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
		-moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
		appearance: none;	/* 標準のスタイルを無効にする */

	    &:focus{
	    	border: 1px solid #0099e8 ;
	    }
	}
	&__title{
		text-align: center;
		font-size: 22px;
		font-weight: bold;
		border-bottom: solid 1px #F5F5F5;
		padding: 32px 16px;
	}
	&__image{
		border-bottom: solid 1px #F5F5F5;
		padding: 40px;
		& p{
			margin-top: 8px;
			line-height: 1.5;
		}
		&_drop-box{
			&_label{
			border: 1px dashed #ccc;
			display: block;
		    min-height: 162px;
		    background: #f5f5f5;
			padding: 40px;
			margin: 16px auto 0;
			width: 620px;
			}
			&_click{
				display: none;
			}
		}
	}
	&__item-info{
		padding: 40px;
		border-bottom: solid 1px #F5F5F5;
		&_name{
			&_input{
				width: 100%;
				height: 48px;
				padding: 10px 16px 8px;
				margin-top: 8px;
			    border-radius: 4px;
			    border: 1px solid #ccc;
			    background: #fff;
			    line-height: 1.5;
			    font-size: 16px;
			    outline-style: none;
			    &:focus{
			    	border: 1px solid #0099e8 ;
			    }
			}
		}
		&_description{
			margin-top: 40px;
			&_input{
				overflow: auto;
				width: 100%;
				min-height: 104px;
				padding: 10px;
				margin-top: 8px;
			    border: 1px solid #ccc;
			    background: #fff;
			    font-size: 16px;
			    border-radius: 4px;
			    outline-style: none;
			    &:focus{
			    	border: 1px solid #0099e8 ;
			    }
			}
		}
	}
	&__item-about{
		padding: 40px;
		border-bottom: solid 1px #F5F5F5;
		&_box{
			width: 400px;
			float: right;
			&_category{
				position: relative;
			}
			&_condition{
				position: relative;
				margin-top: 40px;
			}
		}
	}
	&__shipping{
		padding: 40px;
		border-bottom: solid 1px #F5F5F5;
		border-top: solid 1px #F5F5F5;
		&_box{
			width: 400px;
			float: right;
			&_charge{
				position: relative;
			}
			&_method{
				position: relative;
				margin-top: 40px;
			}
			&_ship-from-region{
				position: relative;
				margin-top: 40px;
			}
			&_date{
				position: relative;
				margin-top: 40px;
			}
		}
	}
	&__price{
		padding: 40px;
		border-bottom: solid 1px #F5F5F5;
		&_box{
			width: 400px;
			float: right;
			&_list_top{
				padding: 0 0 24px;
				position: relative;
				&_label{
					width: 50%;
					float: left;
				}
				&_right{
					width: 50%;
					position: absolute;
					left: 220px;
					bottom: 10px;
					& p {
						display: inline-block;
						margin-right: 10px;
					}
					&_input{
						width: 150px;
						height: 48px;
					    padding: 10px 16px 8px;
					    border-radius: 4px;
					    border: 1px solid #ccc;
					    background: #fff;
					    line-height: 1.5;
					    font-size: 16px;
					    // position: absolute;
					    left: 20px;
					    bottom: 20px ;
					    outline-style: none;
					      &:focus{
						    	border: 1px solid #0099e8 ;
						    }

					      &::placeholder{
				    			text-align: right;
				    		}
				    }
				}
			}
			&_list{
				padding: 24px 0;
				border-top: solid 1px #ccc;
				&_text{
					display: inline-block;
				}
				&_sales{
					display: inline-block;
					float: right;
					&_under{
					display: inline-block;
					float: right;
					font-weight: 600;
					font-size: 34px;
					}
				}
				& h5{
					font-weight: 600;
					font-size: 16px;
				}
			}
			&_input{
				height: 48px;
			    padding: 10px 16px 8px;
			    border-radius: 4px;
			    border: 1px solid #ccc;
			    background: #fff;
			    line-height: 1.5;
			    font-size: 16px;
			    float: right;
			}

		}
	}
	&__submit{
		padding: 40px;
		& a{
			line-height: 1.5;
		}
		&_go-btn{
			text-align: center;
			color: #fff;
			background-color: #ea352d;
			margin: 40px 0 0;
			line-height: 48px;
		}
		&_back-btn{
			width: 45%;
			text-align: center;
			margin: 24px auto 0;
			color: #fff;
			background-color: #aaa;
			line-height: 48px;
		}
	}
}


.select_icon{
	position: absolute;
	top: 40px;
	left: 370px;
	color: #aaa;
	font-size: 20px;
	cursor: pointer;
}


.clearfix::after{
	display: block;
	clear: both;
	height:0px;
    visibility:hidden;
    content:".";
}