body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  line-height: 1; /*行の高さを文字の高さに指定*/
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: all ease-out 0.3s;
  text-align: center;
}
.btn-red {
  background: $red;
  border: 1px solid $red;
  color: $white;
}
.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  background-color: $white;
  line-height: 1.5;
  font-size: 0.9rem;
  vertical-align: middle;
}
.textarea-default {
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  background: $white;
  font-size: 16px;
  line-height: 1.5;
}

/*container*/
.mypage-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 0 40px;
  margin: 40px auto 0;
  width: 1020px;
}

/*mypage_content*/
.mypage-user-icon {
  position: relative;
  height: 200px;
  text-align: center;
  padding: 20px;
  background-image: url(/images/mercari_bg.jpg);
  background-size: cover;
  &__number {
    display: flex;
    justify-content: center;
    margin: 8px 0 0;
    &--display {
    margin: 0 0 0 16px;
    }
  }
  &__number span {
    margin: 0 0 0 8px;
    font-size: 1rem;
  }
}
.mypage-user-icon a {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-decoration: none;
  color: $black;
}
.mypage-user-icon img {
  vertical-align: middle;
  border-radius: 50%;
}
.mypage-user-icon h2 {
  margin: 8px 0 0;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.4;
}

.bold {
  font-weight: 600;
}

.mypage-content {
  max-width: 700px;
  &__tabs a {
    position: relative;
    display: block;
    color: $black;
    font-size: 16px;
    line-height: 72px;
  }
  &__tabs {
    display: flex;
    border: 0;
    width: 100%;
    background-color: $white;
    font-size: 0;
    &--active {
      display: flex;
      justify-content: center;
      border-top: 2px solid $red;
      width: 50%;
    }
    &--non-active {
      display: flex;
      justify-content: center;
      width: 50%;
      background-color: #eee;
    }
  }
  &__tab-content {
    background-color: $white;
    &__item-list {
      border-bottom: 1px solid #eee;
      &__link {
        display: block;
        min-height: 80px;
        padding: 16px;
        color: $black;
        position: relative;
      }
      &__link:hover {
        background-color: $gray;
      }
      &__link figure {
        float: left;
        width: 48px;
        height: 48px;
      }
      &__body {
        margin: 0 40px 0 68px;
        &--text {
        line-height: 1.5;
        }
      }
      &__body time {
        opacity: 0.5;
      }
      &__body time i {
        font-size: 16px;
      }
      &__icon {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translate(0, -50%);
        color: $black;
        font-size: 20px;
      }
      &__index {
      padding: 16px;
      }
      &__index a {
        display: block;
        height: 56px;
        line-height: 56px;
        text-align: center;
        margin: $margin-auto;
        color: $black;
        background-color: #eee;
      }
    }
  }
  &__tab-container {
    margin: 40px 0 0;
  }
  &__head {
    padding: 0 16px;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 72px;
  }
  &__tab-content__not-found {
    padding: 160px 0 60px;
    background-position: center 40px;
    background-size: 100px;
    background-image: url(mercarilogo-gray.svg);
    background-repeat: no-repeat;
    font-size: 16px;
    color: #ccc;
    text-align: center;
  }
/* ログアウト */
  &__logout {
    background-color: $white;
    width: 700px;
  }
  &__logout-form {
    padding: 64px;
    &__content {
    max-width: 320px;
    margin: $margin-auto;
    }
  }
/* プロフィール編集 */
  &__setting-profile {
    background-color: $white;
    width: 700px;
    &__title {
    font-size: 24px;
    padding: 8px 24px;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    }
    &__form {
      padding: 64px;
    }
    &__form__icon {
      padding: 72px 16px 24px;
      background-image: url('/images/mercari_bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      vertical-align: middle;
      text-align: center;
    }
    &__form__icon figure {
      display: inline-block;
      vertical-align: middle;
    }
    &__form__icon img {
      border-radius: 50%;
    }
    &__form__icon input {
      width: 220px;
      margin: 0 0 0 8px;
      vertical-align: middle;
    }
    &__form__content {
    margin: $margin-auto;
    padding: 40px 16px;
    }
    &__form__content .btn-red {
      margin: 16px 0 0;
    }
    &__form__content .textarea-default {
      width: 100%;
      min-height: 216px;
    }
  }
}

/*side-nav*/
.mypage-side {
  width: 280px;
}
.mypage-side-nav__list a {
  padding: 16px;
  color: $black;
  border-top: 1px solid #eee;
}
.mypage-side-nav__list .active {
  background-color: #eee;
  font-weight: 600;
}
.mypage-side-nav__list {
  background-color: $white;
  &__item {
  display: flex;
  justify-content: space-between;
  }
  &__icon {
  font-size: 17px;
  color: #ccc;
  }
}
.mypage-side-nav__head {
  margin: 40px 0 0;
  font-size: 1rem;
}
.margin {
  margin: 8px 0 0;
}
