.payment
  .payment__container
    .payment__container__title
      %h2 支払い方法
    .payment__container__box
      %p クレジットカード一覧
      .actions
        = button_to "クレジットカードを追加する", "/", method: :get, class: "btn action-btn"
    .payment__container__about
      =link_to "支払い方法について>", ""

